body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #555;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 1.5em;
  text-align: left;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

main {
  margin-top: 100px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin-right: 30px;
}

header nav a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

header nav a:hover {
  color: #3498db;
}


section {
  background-color: #ffffff;
  padding: 2em;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #2c3e50;
  margin-top: 0;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

li {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #2980b9;
}

a:hover {
  color: #1abc9c;
}

footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 1.5em;
  text-align: center;
}


.me {
  text-align: justify;
}

.name {
  text-align: center;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-photo {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-img {
  width: 40px;
  /* Tamaño de la imagen */
  height: 40px;
  border-radius: 50%;
  /* Hace la imagen circular */
  margin-right: 8px;
  /* Espaciado entre la imagen y el texto */
  object-fit: cover;
  /* Ajusta la imagen dentro del círculo */
  border: 2px solid #ddd;
  /* Opcional: Agrega un borde */
}

.profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff; /* Cambia según el diseño */
  font-weight: bold;
}